@model IEnumerable<StoreFront.Models.Product>

<h2>@ViewBag.Title</h2>

@foreach(var product in Model)
{
    <div>
        <h2>@product.Name</h2>
        <h3>@product.Price.ToString("c")</h3>
    </div>
}