@model StoreFront.ViewModels.HomeViewModel

<h2>@Model.Title</h2>

@foreach(var product in Model.Products)
{
    <div>
        <h2>@product.Name</h2>
        <h3>@product.Price.ToString("c")</h3>
    </div>
}